<b>Note:</b> This schedule is tentative and subject to change (2019-12-04).

<br><br>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">
  <tr>
    <th style="width:15%;text-align:left">date</th>
    <th style="width:20%">lesson</th>
    <th style="width:15%">instructor</th>
    <th style="width:5%;text-align:center">slides</th>
    <th style="width:5%;text-align:center">materials</th>
    <th style="width:5%;text-align:center">reading</th>
    <th style="width:5%;text-align:center">HW</th>
    <th style="width:30%;text-align:left">due</th>
  </tr>

  {{ range $.Site.Data.lessons }}
    {{range . }}
    <tr>
      <td align="left">{{ .date }}</td>
      <td>{{ .title }}</td>
      <td>{{ .instructor }}</td>

      {{ if .slides }}
      <td align="center"><a href="{{ .slides }}">
      <!--
      change slides from local to outside of site
      <td align="center"><a href="{{ .Site.baseurl }}/slides/{{ .slides  }}">
      -->
          <i class="fa fa-laptop  fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-laptop  fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .materials }}
      <td align="center"><a href="{{ .materials }}">
      <!--
      change slides from local to outside of site
      <td align="center"><a href="{{ .Site.baseurl }}/slides/{{ .slides  }}">
      -->
          <i class="fab fa-github  fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fab fa-github  fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .reading }}
      <td align="center"><a href="{{ .Site.baseurl }}/reading/{{ .reading  }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {{ end }}
      
      {{ if .hw }}
      <td align="center"><a href="{{ .Site.baseurl }}/hw/{{ .hw }}">
          <i class="fa fa-pencil-square-o fa-lg"></i></a></td>
      {{ else }}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-pencil-square-o fa-lg"></i></font></td>
      {{ end }}
      
      <td>{{ .due }}</td>
    </tr>
    {{ end }}
  {{ end }}

</table>
