<!-- Begin Profile Tabs -->
<div class="profile-tabs">
   <div class="nav-align-center">
      <ul class="nav nav-pills nav-pills-primary" role="tablist">
         <li class="active">
            <a href="#r" role="tab" data-toggle="tab">
            <i class="icon-rlogo"></i>
            R/RStudio
            </a>
         </li>
         <li>
            <a href="#github" role="tab" data-toggle="tab">
            <i class="fa fa-github"></i>
            GitHub
            </a>
         </li>
      </ul>
      <div class="tab-content gallery">
         <div class="tab-pane text-center active" id="r">
            <div class="row">
               <div class="col-md-4 col-md-offset-4">
                 R is the statistical programming language we will learn in this class. We will interface with R using RStudio, a fully feautred IDE. Go to <a href="https://rstudio.cloud/">rstudio.cloud</a> to access RStudio on the cloud.
               </div>
            </div>
         </div>
         <div class="tab-pane text-center active" id="github">
            <div class="row">
               <div class="col-md-4 col-md-offset-4">
                 GitHub is a web-based version control repository and Internet hosting service. We will be using GitHub in this course as a collaboration platform and a course management system (i.e. submit homework in GitHub as opposed to on Sakai). In order to get started, create a <a href="https://github.com/"></a>GitHub account</a>, but before then, read about <a href="http://happygitwithr.com/github-acct.html#username-advice">picking a good username</a>. All course materials, including private repositories for students, are on the <a href="https://github.com/Sta199-S18">GitHub organization</a>.
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End Profile Tabs -->